extends layout

block content
    div.row
        each photo in photos
            div.card.mb-3.ml-3
              a(href="/photo/" + photo._id)
                img.card-img-top(src= photo.image)
